{% extends 'base.html' %}
{% block title %}Zmiana hasła{% endblock %}

{% block content %}




<h1>Utwórz nowe hasło</h1>
<br/><br/>

<div class="form-group">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}
		<button class="btn btn_secondary">Wprowadź zmiany</button>
</div>

<br/>
<ul>
	<li>Twoje hasło nie powinno zawierać informacji personalnych należących do ciebie lub twojej rodziny.</li>
	<li>Twoje hasło musi składać się z co najmniej 8 znaków.</li>
	<li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
	<li>Twoje hasło nie może składać się wyłącznie z cyfr.</li>

</ul>

{% endblock %}