{% extends 'base.html' %}
{% block title %}Usuń post{% endblock %}

{% block content %}


{% if user.is_authenticated and user.id == 1 %}

<h1>Usuń post</h1>
<br/><br/>
<h3>Pozycja: {{ post.title}}</h3>

</br>
<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		<strong>Czy jesteś pewny?</strong></br>
	    </br>
		<button class="btn btn_secondary">Usuń</button>
</div>

{% else %}

Przepraszamy, nie można wyświetlić tej strony

{% endif %}

{% endblock %}